* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

h1, h2 {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.maintitle {
  font-size: 72px;
}

.subtitle {
  font-size: 36px;
}
