* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f8f9fc;
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

.logo {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

h1, h2 {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.intro {
  width: auto;
  height: 16rem;
  background-image: linear-gradient(to right, rgb(248, 249, 252), rgb(248, 249, 252),  rgba(0, 0, 0, 0)), url("./assets/background-ena.gif");
  background-repeat: no-repeat;
  background-position: right;
}

.maintitle {
  font-size: 400%;
  text-transform: uppercase;
  padding: 0 2rem;
  flex-wrap: wrap
}

.subtitle {
  font-size: 125%;
  line-height: 1;
  padding: 0 2rem;
  max-width: 700px;
  flex-wrap: wrap;
}

header {
  background: linear-gradient(to right, #101085, #1b86cc);
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  gap: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0rem;
  font-size: 125%;
  gap: 1rem;
}

.events {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}

.event-card {
  background: #bbbbbb;
  padding: 1.5rem;
  max-width: 11rem;
  box-shadow: 0 0 15px #1b1a16;
}

.events img {
  height: auto;
  min-width: 14rem;
  max-height: 10rem;
  object-fit: cover;
  margin: -1.5rem -1.5rem 1rem;
}

.ena-section {
  display: flex;
  max-width: 16rem;
  gap: 2rem;
  padding: 1rem 6rem;
  justify-content: space-evenly;
}

.ena-card {
  background: #bbbbbb;
  padding: rem 0rem 1rem 0rem;
  margin: 1rem;
  box-shadow: 0 0 15px #1b1a16;
}

.ena-card h2, p {
  margin: 0px 8px;
}

.about-container {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  min-width: 40rem
}

.schedule-title, .about {
  display: flex;
  justify-content: center;
  font-size: 300%;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 8px;
  background: linear-gradient(to left,#ffe900, rgba(0,0,0,0));
}

.schedule {
  display: flex;
  justify-content: space-evenly;
}

.schedule-list {
  font-size: 125%;
  height: 28rem;
  width: 20rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr /1fr 2fr;
}

.schedule-image img {
  max-width: 20rem;
  height: 30rem;
  object-fit: cover;
}

.time {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0rem 1rem;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
  background: linear-gradient(to right,#4076fd, rgba(0,0,0,0));
}

.item {
margin: 1rem 1rem 1rem 1rem;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
a:link {
  color:#bbbbbb;
}

a:visited {
  color: #1b1a16;
}

a:hover {
  color:  #f8f9fc;
}

a:active {
  color: #ffe900;
}

footer {
  background: linear-gradient(to right, #101085, #1b86cc);
  padding: 1rem;
  color: #f8f9fc;
  display: grid;
  text-align: center;
}

@media (max-width: 480px) {
  html {
    font-size: 12pt;
  }
  .maintitle {
    font-size: 350%;
    text-transform: uppercase;
    padding: 0 1.5rem;
    flex-wrap: wrap
  }
  .subtitle {
    font-size: 125%
    line-height: 1;
    padding: 0rem 1rem;
    max-width: 700px;
    flex-wrap: wrap;
  }
  .intro {
    background-image: linear-gradient(to right, rgb(248, 249, 252),  rgba(0, 0, 0, 0)), url("./assets/background-ena.gif");
    background-position: center;
  }
  .events {
    display: inline-block;
    padding: 4rem 0rem 4rem 6rem;
    max-width: 18rem;
  }
  .event-card {
    max-width: 20rem;
    margin: 1rem;
  }

  .events img {
    height: auto;
    min-width: 16rem;
    max-height: 10rem;
    object-fit: cover;
    margin: -1.5rem -1.5rem 1rem;
  }
}
